.color-block {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.color-container {
  display: flex;
  justify-content: space-evenly;
}

.target-div {
  margin: 40px;
  height: 400px;
  width: 400px;
}
